/* Definición de los estilos de la página */

* { box-sizing: border-box; }

h1 { color: red; }

.my-table {
    font-family: "Palatino", sans-serif;
    border-collapse: collapse;
    width: 20%;
}

.my-table td, th {
    border: 1px solid #d8d8d8;
    padding: 1px;
}
